nav-header {
	height:  140px; 
	width:  100%; 
	background:  $orange-gradient;
	display:  flex; 
	position:  relative;
	.go-back { 
		height:  24px;
		width:  24px; 
		display:  flex; 
		flex-direction:  column; 
		align-items:  center; 
		position:  absolute; 
		bottom:  18px; 
		left:  18px; 
		div {
			height:  18px; 
			width:  18px; 
			border-left:  solid 2px #ffffff;
			border-top:  solid 2px #ffffff;
			transform:  rotateZ(-45deg);
		}
	}
	.header__section {
		font-size:  21px; 
		font-weight:  bold; 
		color:  #ffffff; 
		position:  absolute; 
		top:  18px; 
		right:  18px; 
		text-transform:  uppercase; 
	}
}
.menu--toggle {
	display:  flex; 
	flex-direction:  column; 
	align-items:  center; 
	justify-content:  center; 
	height:  18px; 
	width:  48px; 
	position:  absolute; 
	top:  36px; 
	left:  18px; 
	z-index:  1000; 
	
	transform:  skewX(-15deg);

	div {
		height:  2px; 
		width:  48px;
		background:  #ffffff; 
		position:  absolute;
	}
}
.menu--toggle .line-1 { top: 0px; left:  0px; }
.menu--toggle .line-2 { top: 8px; left:  0px; }
.menu--toggle .line-3 { top: 16px; left:  0px; }