page-dashboard {
	.dashboard {
		width:  100%; 
		height:  100%; 
		display:  flex; 
		flex-direction:  column; 
		align-items:  flex-start;
		justify-content:  flex-start; 
		overflow:  scroll;
	}

	.slider {
		width:  100%; 
		height:  80vh; 
		background:  $orange;
		display:  flex; 
	}
	.dashboard__menu {
		width:  100%; 
		padding:  18px; 
		box-sizing:  border-box; 
		display:  flex; 
		flex-direction:  row; 
		align-items:  flex-start; 
		justify-content:  flex-start;
		flex-wrap: wrap; 
	}
	.dashboard__menu__column {
		display:  flex; 
		flex-direction:  column; 
		align-items:  flex-start;
		width:  50%; 
	}
	.dashboard__menu__column:first-of-type {
		padding-right:  9px; 
	}
	.dashboard__menu__column:last-of-type {
		padding-left:  9px; 
	}
	.dashboard__menu__item {
		width:  100%; 
		background:  $orange-gradient;
		color:  #FFFFFF;
		padding:  12px;
		position:  relative; 
		min-height:  72px;
		margin-bottom:  18px;
		background-position:  center center; 
		background-size:  cover; 

		h3 {
			position:  absolute; 
			left:  12px; 
			bottom:  12px; 
			font-size:  18px; 
			font-weight:  bold; 
			text-transform:  uppercase; 
			margin: 0 0 0 0;
		}

		img {
			position:  absolute; 
			right:  0; 
			bottom:  0; 
			max-height:  58px; 
			width:  auto; 
		}
	}
	.dashboard__menu__column:nth-of-type(1) .dashboard__menu__item:nth-of-type(even) {
		height:  120px;
	}
	.dashboard__menu__column:nth-of-type(2) .dashboard__menu__item:nth-of-type(odd) {
		height:  120px;
	}
}
