<!--
  Generated template for the Workoutdetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

  <nav-header>
  </nav-header>

    <timer  [timeInSeconds]="0"></timer>

    <div class="action-button" (click)="startTimer()" *ngIf="!started()">Iniciar rutina</div>
    <div class="action-button" (click)="pause()" *ngIf="status() && started() && !finished()">Pausar rutina</div>
    <div class="action-button" (click)="resume()" *ngIf="!status() && started() && !finished()">Continuar rutina</div>

<!-- Click: startTimer() Reset: !status() && (started() || finished()) || finished()  -->

  <ion-card *ngFor="let exercise of exercises?.sets">
    <ion-card>
      <ion-card-header>
          {{exercise.name}}          {{exercise.times}} ciclos
        </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let ex of exercise.exercises">
          <ion-card-header>
              {{ex.name}}      {{ex.pivot.times}} reps
            </ion-card-header>
            <ion-card-content>
       <div class="video-button">Ver video</div>
            </ion-card-content>
            </ion-card>
          <ion-card-header>

      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>


</ion-content>
