// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import 'fonts';

* {
	font-family: 'TeXGyreHeros';
}

ion-menu {
	z-index:  1000;

}
.side-menu {
	z-index:  100; 
	background:  #ffffff; 
	height:  100%; 
	width:  calc(100% - 144px); 

}


// Colors

$orange: #FF6236;
$orange-gradient: linear-gradient(143.46deg, rgba(255, 140, 0, 1) 0%, rgba(255, 98, 54, 1) 100%);
$set-gradient: linear-gradient(90deg, rgba(49, 0, 0, 1) 32.45%, rgba(255, 98, 54, 1) 100%);

.header {
	height:  140px; 
	width:  100%; 
	position:  absolute; 
	top:  0; 
	left:  0; 

	background:  $orange-gradient;
	img {
		position:  absolute; 
		bottom:  0; 
		right:  0; 
		max-height:  68px; 
	}
	.header--title {
		position:  absolute; 
		top:  18px; 
		right:  18px; 
		font-size:  24px; 
		font-weight:  bold; 
		font-style:  italic; 
	}
}
.header--padding {
	height:  140px; 
	width:  100%; 
}
.toolbar-background, 
.toolbar-background-md,
.toolbar-background-ios {
	background:  none; 
	color:  #ffffff; 
}
.back-button-md,
.back-button-ios,
.back-button { 
	
}













